mixin navigation-generator(data)
	- let arr = data;
		each val, index in arr
			li.navigation-list__item
				button(class=(index === 0 ? 'js-active': undefined) data-location=val.name)=val.name

mixin promotion-generator(data)
	- let arr = data;
		each val in arr
			ul.promotions-list(data-name=val.name)
				h4=val.name
				- let hotels = val.hotels
				each val in hotels 
					li.promotions-list__item(promotion-end=val.promotion_end)
						div.img
							img(src=val.visual)
						.content
							ul.rating
								- for (var i = 0; i < val.rating; ++i)
									li.rating__item
										svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
											path(d='M10.7579 4.67016L15.0868 5.32876C15.2636 5.35545 15.4296 5.43236 15.5664 5.55088C15.7031 5.6694 15.8051 5.82484 15.861 5.99979C15.9169 6.17569 15.9242 6.36414 15.8822 6.54408C15.8402 6.72402 15.7504 6.88836 15.6231 7.01875L12.4841 10.1937L13.2251 14.748C13.2554 14.9313 13.235 15.1198 13.1662 15.2917C13.0975 15.4637 12.9833 15.6122 12.8365 15.7204C12.6905 15.8285 12.5182 15.8925 12.3388 15.9051C12.1594 15.9178 11.9802 15.8785 11.8213 15.7918L7.95333 13.6653L4.08834 15.7934C3.92893 15.8801 3.74924 15.9194 3.5694 15.9068C3.38956 15.8942 3.21668 15.8301 3.07013 15.7219C2.92379 15.6135 2.81001 15.4648 2.74181 15.2929C2.67362 15.1209 2.65377 14.9326 2.68454 14.7495L3.4256 10.1953L0.285713 7.01875C0.158446 6.88829 0.0688301 6.72393 0.0268611 6.544C-0.015108 6.36408 -0.00778017 6.17567 0.0480296 5.99979C0.103633 5.82449 0.205698 5.66874 0.342679 5.55015C0.479659 5.43156 0.646089 5.35488 0.823137 5.32876L5.14843 4.67016L7.08845 0.559192C7.16701 0.391592 7.2898 0.250226 7.44273 0.151317C7.59565 0.0524091 7.77252 -3.44338e-05 7.95303 3.21991e-06C8.13403 -0.000472415 8.31147 0.0517554 8.46496 0.15068C8.61844 0.249605 8.74172 0.391208 8.82062 0.559192L10.7579 4.67016Z' fill='#F0AB00')
							h5=val.hotel_name
							p.location=val.location
							p.description=val.description
							div.wrapper
								ul.info
									li.info__item
										svg(width='32' height='33' viewbox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M13.581 24.243v.828m3.308-.828v.828' stroke='#000' stroke-width='.601' stroke-linecap='round')
											path(stroke='#0093D0' stroke-width='.721' d='M13.942 24.603h3.631v.721h-3.631z')
											path(d='M9.191 25.912h13.132' stroke='#0093D0' stroke-linecap='round')
											path(d='M28.847 16.38V7.246H2.667V24.06h18.562' stroke='#0093D0' stroke-linecap='round' stroke-linejoin='round')
											path(d='M6.014 11.424h19.763M6.014 14.042h19.763M6.014 16.66h15.735M6.014 19.277h14.02' stroke='#0093D0' stroke-linecap='round')
											path(d='M25.863 24.384a3.476 3.476 0 0 0 3.47-3.48 3.476 3.476 0 0 0-3.47-3.48 3.476 3.476 0 0 0-3.471 3.48 3.476 3.476 0 0 0 3.47 3.48Z' stroke='#0093D0' stroke-linecap='round' stroke-linejoin='round')
											path(d='m24.532 21.07.998 1.168 1.996-2.335' stroke='#0093D0' stroke-linecap='round' stroke-linejoin='round')
										span.info__text Даты бронирования
										span.info__date=val.booking
									li.info__item
										svg(width='33' height='33' viewbox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M4.106 25.558v.579c0 1.188 1.034 2.152 2.312 2.152h19.376c1.276 0 2.312-.964 2.312-2.152V8.093c0-1.188-1.034-2.152-2.312-2.152H6.418c-1.276 0-2.312.964-2.312 2.152v5.658' stroke='#0093D0' stroke-miterlimit='10' stroke-linecap='round')
											path(d='m13.799 19.52-4.616 5.077m4.616-5.077-4.616-5.077M4.106 19.52H13.8' stroke='#0093D0' stroke-linecap='round' stroke-linejoin='round')
											path(d='M28.106 10.519h-24' stroke='#0093D0' stroke-miterlimit='10')
											path(d='M9.128 7.591V4.29m13.956 3.301V4.29' stroke='#0093D0' stroke-miterlimit='10' stroke-linecap='round')
										span.info__text Даты проживания
										span.info__date=val.accommodation
									li.info__item
										svg(xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewbox='0 0 33 33' fill='none')
											path(d='M3.3 27.52V7.473c0-1.32 1.152-2.391 2.57-2.391h21.528c1.42 0 2.57 1.07 2.57 2.39v20.05c0 1.32-1.152 2.39-2.57 2.39H5.87c-1.42 0-2.568-1.07-2.568-2.39Z' stroke='#0093D0' stroke-miterlimit='10' stroke-linecap='round')
											path(d='M29.967 10.167H3.301' stroke='#0093D0' stroke-miterlimit='10')
											path(d='M8.88 6.914V3.245m15.507 3.669V3.245' stroke='#0093D0' stroke-miterlimit='10' stroke-linecap='round')
											path(d='M6.692 18.617a.708.708 0 0 1 .201-.142.799.799 0 0 1 .094-.013c.032-.005.066-.008.1-.012.032-.005.067-.008.106-.01.082-.001.168.006.244.014l.062.026c.122.054.248.144.381.238.135.095.268.191.4.29l.277.2c.292.209.585.42.879.628.057.04.11.072.158.1a.692.692 0 0 1 .068.042.738.738 0 0 0 .731.05 15 15 0 0 1 .27-.123l.291-.134c.176-.083.35-.167.524-.252l.09-.043c.058-.027.113-.054.17-.083l.202-.098.285-.139.28-.135c.176-.085.351-.17.525-.256.158-.079.316-.157.473-.237l.198-.1c.018-.009.051-.025.09-.05a.604.604 0 0 0 .265-.542.602.602 0 0 0-.228-.428 2.186 2.186 0 0 0-.175-.123l-.096-.06c-.19-.12-.382-.24-.574-.356-.29-.178-.583-.353-.875-.528l-.355-.21a66.321 66.321 0 0 1-.543-.325c-.201-.123-.399-.244-.58-.38a.132.132 0 0 1-.048-.064c.139-.101.298-.19.438-.267.035-.02.085-.04.138-.06.046-.018.092-.038.137-.059.116-.053.27-.065.447-.078l.15-.012.122.004c.122.005.237.01.35.018a.7.7 0 0 1 .184.032c.07.029.132.04.17.048l.018.005.084.02c.055.013.11.025.166.04.053.013.104.028.155.044l.056.016c.09.026.181.051.272.079l.126.037c.083.024.165.05.248.073.048.013.097.025.145.036a2.73 2.73 0 0 1 .22.062l.109.034c.058.018.118.033.177.05l.063.018.093.026.165.045c.087.024.173.048.258.074l.1.031.136.042c.05.015.101.03.15.043l.083.022.248.071.147.044.096.028.058.018a8.99 8.99 0 0 0 .322.09l.051.011.101.03.053.014.326.095.146.044.212.063c.089.026.177.048.251.066.059.015.12.021.18.02.154-.003.27-.059.333-.087l.015-.006.33-.157.066-.032.322-.155.397-.191c.075-.037.408-.193.499-.239l.308-.15.113-.056.148-.074c.07-.034.14-.07.212-.104l.086-.042a37.765 37.765 0 0 1 .532-.258c.067-.031.134-.061.202-.095.079-.037.156-.076.235-.116l.171-.084c.121-.059.243-.119.365-.176.152-.071.277-.128.39-.178l.137-.057c.074-.03.152-.062.234-.101.077-.037.172-.065.274-.097l.07-.02a.937.937 0 0 1 .106-.025l.067-.014.035-.007c.053-.012.105-.023.158-.033l.078-.015c.077-.015.149-.029.214-.037a4.04 4.04 0 0 1 .32-.018h.036a4.59 4.59 0 0 1 .352 0c.075.003.158.014.244.024l.063.008c.098.012.178.023.253.036.102.02.206.045.304.07.037.009.079.022.124.037l.041.014c.139.043.284.111.458.212.207.12.38.262.529.433a.583.583 0 0 1 .104.164v.002a.903.903 0 0 1-.177.265c-.04.043-.085.086-.138.13-.174.15-.35.284-.526.399-.225.149-.523.343-.829.532-.258.158-.544.327-.896.53-.17.1-.35.197-.523.292l-.244.135-.198.11c-.139.076-.276.155-.416.229l-.433.226-.268.138-.217.116c-.072.04-.145.077-.218.115l-.307.158-.176.09-.016.008c-.045.021-.12.056-.196.12a.838.838 0 0 0-.228.306c-.098.228-.193.457-.29.686l-.052.125-.317.763-.09.22a21.96 21.96 0 0 1-.274.646l-.136.317-.136.325-.131.317c-.05.117-.1.235-.151.35l-.15.349-.104.255a12.37 12.37 0 0 1-.103.245c-.046.112-.095.222-.143.333l-.13.305-.105.251a19.477 19.477 0 0 1-.309.715l-.1.224c-.027.062-.053.124-.081.185l-.117.269a5.34 5.34 0 0 1-.34.676 3.02 3.02 0 0 1-.3.387l-.026.03a1.038 1.038 0 0 1-.2.172 3.6 3.6 0 0 1-.492.273l-.09.04c-.085.036-.164.07-.24.099-.006.003-.014.004-.02.006a.468.468 0 0 1-.002-.232l.009-.053.018-.15.038-.3.062-.428.017-.118.008-.053c.014-.096.027-.191.044-.288l.03-.179a5.604 5.604 0 0 0 .058-.386l.013-.095c.007-.054.017-.108.026-.162l.01-.064.009-.048.013-.086.037-.245.016-.128c.004-.041.008-.083.016-.124.011-.077.026-.152.04-.228.01-.06.021-.119.03-.179.009-.048.014-.096.022-.145l.013-.091.026-.16.02-.112.005-.036c.009-.051.018-.102.023-.155l.014-.116c.004-.042.008-.085.016-.127.004-.031.011-.061.017-.093.008-.036.015-.072.02-.107.01-.047.017-.095.023-.142l.011-.077c.01-.064.02-.13.032-.194l.014-.077.01-.062c.007-.046.016-.092.022-.138l.016-.106.02-.13.03-.158a.623.623 0 0 0-.117-.523.568.568 0 0 0-.543-.203c-.08.012-.16.036-.242.07-.14.061-.27.117-.394.173l-.314.144-.165.077c-.124.057-.247.115-.371.17l-.31.14-.164.074-.088.041c-.054.026-.11.051-.165.074a3143259905871.479 3143259905871.479 0 0 0-.402.169l-.12.05c-.054.023-.108.048-.162.07l-.162.064-.12.045a5.459 5.459 0 0 0-.14.056c-.07.027-.14.055-.21.08a4.445 4.445 0 0 1-.193.07l-.152.054-.11.043a3.283 3.283 0 0 1-.115.042.652.652 0 0 1-.052.015c-.024.006-.049.012-.072.02l-.075.024-.036.012-.145.043c-.123.038-.245.076-.37.11a3.19 3.19 0 0 1-.184.044l-.131.03c-.055.014-.11.027-.164.042l-.051.014-.069.01-.2.03a10.075 10.075 0 0 1-.367.059.696.696 0 0 1-.097.005l-.201.006-.46.014-.304.006a.763.763 0 0 1-.173-.017 1.303 1.303 0 0 1-.442-.196.78.78 0 0 1-.18-.15 1.016 1.016 0 0 1-.09-.145 26.91 26.91 0 0 1-.304-.624c-.059-.124-.114-.249-.172-.374l-.12-.267-.127-.268c-.06-.128-.12-.255-.176-.384-.09-.199-.176-.398-.262-.597l-.092-.214c-.122-.279-.243-.556-.363-.835l-.009-.018-.014-.034a.315.315 0 0 1 .038-.11.55.55 0 0 1 .036-.047m6.536.045 5.574-2.741' stroke='#0093D0' stroke-miterlimit='10')
										span.info__text Города вылета
										span.info__date=val.fly_from
										div.actions
								div.actions
									button(data-toggle="modal" data-target="#promotion-modal") подробнее
									a(href='#') ВЫБРАТЬ ТУР

mixin modal-generator()
	template(id='template') 
		#promotion-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
			.modal-dialog.modal-dialog-centered(role='document')
				.modal-content
					.modal-header
					.modal-body
					